

body{
    margin-top: 100px;
}

.section-header{
    top: 20px;
    position: relative;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 900;
    padding-bottom: 25px;
    color: #fff;
    
}

.section-header:after{
    content: '';
    height: 3px;
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
    background: #fff;

}

.section-header span{
    display: block;
    font-size: 15px;
    font-weight: 300;
}


.testimonials{
    max-width: 800px;
    padding: 0 15px 50px;
    margin: 0 auto 80px auto;
}

.single-item{
    height: 330px;
    background: #fff;
    color: black;
    padding: 15px;
    margin: 50px 15px;
    border-radius: 40px;
    background-image: url('./programas/logo_ligoutocou.jpeg');
    background-size: cover;
}

.bi:hover{
    cursor: pointer;
    background: #fff;
    border-radius: 15px;
}

.profile{
    margin-bottom: 30px;
    text-align: center;
}

.img-area{
    margin: 25px 15px 15px 15px;
}

.img-area img{
    height: 200px;
    width: 200px;
}

.content{
    font-size: 18px;
}

.content p{
    text-align: justify;
}

.content p span{
    font-size: 28px;
    margin-right: 20px;
    color: blueviolet;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    background-color: blueviolet;
    z-index:999;
}



.lemon{
    height: 5vh;
    width: 18vw;
    position: absolute;
    background: rgb(248, 138, 27);
    z-index: 999;
    border-radius: 10px 10px 130px 130px;
    top: 35vh;
    right: 5vw;
    animation: lemon 10s infinite;
}
@keyframes lemon {
    0%{
        transform: rotate(-30deg) translateY(-30px);
    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-30deg) translateY(-30px);
    }
}

.triagulo{
    height: 0;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid orangered;
    position: absolute;
    bottom: 10vh;
    left: 2vw;
    z-index: 998;
    animation: triagulo 20s infinite;

}
@keyframes triagulo {
    50%{
        transform: rotate(80deg);
    }
    
}

.capsule{
    height: 5vh;
    width: 10vw;
    background-color: greenyellow;
    border-radius: 50px;
    position: absolute;
    z-index: 997;
    top: 35vh;
    left: 5vw;
    animation: capsule 20s infinite;
}

@keyframes capsule {
    50%{
        transform: rotate(80deg);
    }
}

.square{
    height: 10vh;
    width: 10vw;
    background: rgb(152, 78, 255);
    border-radius: 20px;
    z-index: 996;
    position: absolute;
    bottom: 10vh;
    right: 2vw;
    animation: square 40s infinite;
}

@keyframes square {
    50%{
        transform: rotate(180deg);
    }
    
}

.circulo1{
    height: 20px;
    width: 20px;
    background: rgb(255, 0, 234);
    border-radius: 40px;
    position: absolute;
    z-index: 996;
    top: 50vh;
    right: 20vw;
    animation: circle 10s infinite;
}

@keyframes circle {
    0%{
        top: 50vh;
        right: 10vw;
    }
    50%{
        top: 10vh;
        right: 10vw;
    }
    100%{
        top: 50vh;
        right: 10vw;
    }
    
}




.container-top img{

    width:280px;
    border-radius: 20px;
}

.container-top{
    padding: 30px;
    justify-content: center;
    align-items: center;

}

.card-top{
    height: 200px;
    width:280px;
    box-shadow: 5px 5px 20px rgb(28, 27, 74);
    overflow: hidden;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}


.card-top:hover{
    cursor: pointer;
}

.card-top:hover .intro{
    height: 220px;
    bottom: 180px;
    background: rgb(152, 78, 255);
    border-radius: 20px;
}

.card-top:hover img{
    transform: scale(1.1) rotate(-3deg);
    
}


.img-destaque:hover img{
    cursor: pointer;
    transform: scale(1.1) rotate(-3deg);
}

.intro{
    height: 200px;
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    background: rgb(13, 226, 27);
    color: white;
    border-radius: 20px;
    transition: .5s;
}

.card-noticias h1{
    font-size: 18px;
}

.card-noticias p{
    font-size: 12px;
    width: 120px;
    background-color: rgb(16, 216, 20);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}


.nav-link {
    position: relative;
    border-radius: 10px;
    margin-left: 10px;
}

.nav-link:hover {
    /* text-decoration: underline; */
    border-bottom: 6px solid rgb(255, 20, 228);

}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 4px;
    width: 100%;
    background-color: rgb(255, 113, 222);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after{
    opacity: 1;
}

.navbar{
    background-color:rgb(0, 0, 255);
}

.navbar-text,
.navbar-brand,
.navbar-link,
.nav-link {
    color: #fff !important;
}